/* ========== Importing Google Fonts ========== */
@import "https://fonts.googleapis.com/css?family=Abel";
@import "https://fonts.googleapis.com/css?family=Cedarville+Cursive";

/* ========== Setting up defaults/ general styles ========== */
body, html {
  font-family: Abel;
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  height: 100%;
}
/* for making images black & white */
.desaturate {
  filter: grayscale(100%);
}
/* stripping away anchor tag default styles */
a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/* ========== Parallax background for the main section ========== */
.parallax { 
  background-image: url("../img/main_header_background.jpg");
  /*https://hd.unsplash.com/photo-1445160434759-194e6bc68ff6*/
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ========== Home Text ========== */
/* home text CSS animations -- start */
@keyframes homeTextInRight {
  from    { left: 100px; opacity: 0.0;}
  to      { left: 0; opacity: 1.0;}
}
@keyframes homeTextInRight2 {
  from    { left: 80px; opacity: 0.0;}
  to      { left: 0; opacity: 1.0;}
}
@keyframes homeTextInLeft {
  from    { right: 100px; opacity: 0.0;}
  to      { right: 0; opacity: 1.0;}
}
/* home text CSS animations -- end */
#targetTxt2 {
  visibility: hidden;
  bottom: 51px;
  right: 13px;
}
#targetTxt3 {
  visibility: hidden;
  bottom: 102px;
  right: 18px;
}
#home_text h1, #home_text h3, #home_text h4 {
  position: relative;
}
#home_text h1 {
  font-size: 3em;
  /*animation: homeTextInRight 1.2s ease-out; <-- added after loader*/
}
#home_text h3,  #home_text h4 {
  margin: 0 0 5px 0;
}
#home_text h3 {
  /*animation: homeTextInLeft 1.6s ease-out; <-- added after loader*/
}
#home_text h4 {
  font-size: 1.5em;
  padding-right: 65px;
  /*animation: homeTextInRight2 1.4s ease-out; <-- added after loader*/
}
#home_text {
  width: 100%;
  text-align: right;
}
#home_text>div>h3 {
  font-size: 2.5em;
  text-align: right;
  color: orange;
  margin: 0;
  padding: 0 25px 0 0;
}
#home_text span {
  color: orange;
}
#text_cont {
  padding: 50px 15%;
}


/* ========== Main About ========== */
#main-about {
  background-color: white;
}
#main-about span {
  font-size: 1.2em;
  line-height: 5px;
  font-family: "Cedarville Cursive";
}
#main-about {
  text-align: justify;
  padding: 0 11vw;
}
#main-about h1 {
  opacity: 0;
  margin: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
#main-about p {
  opacity: 0;
  margin: 0;
  padding-bottom: 30px;
  font-size: 1.1em;
}


/* ========== Project Header ========== */
#proj-header {
  background-image: url("../img/project_header_background.jpg");
  /*https://hd.unsplash.com/photo-1468499419136-228128db8f7a*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
#proj-header h1 {
  text-align: center;
  color: white;
  padding-top: 25px;
  margin: 0;
}


/* ========== Projects ========== */
/* Grid set up with flex-box -- start */
#grid-container {
  background: white;
}
#grid {
  max-width: 892.5px;
  margin: 0 auto;
  padding: 25px 11vw;
  flex-flow: row wrap-reverse; 
  display: flex;
  background-color: white;
}
.item {
  position: relative;
  flex: auto; 
  width: 200px;
  margin: 1vw;
  cursor: pointer;
  transition: all 300ms; /*So the css rules (mainly the grayscale styles) get animated in/out*/
}
.item img {
  width: 100%; 
  height: auto;
}
/* Grid set up with flex-box -- end */
#grid>div {
  opacity: 0; /* setting opacity initially to 0, will be faded in on scroll */
}
.item>div {
  position: absolute; 
  top: 0px; 
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.item>div>h3 {
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
}


/* ========== My Services/ What I have to offer ========== */
#my_services_header h1 {
  text-align: center;
  color: white;
  padding-top: 25px;
  margin: 0;
}
#my_services_header {
  background-image: url("../img/services_header_background.jpg");
  /*https://hd.unsplash.com/photo-1431794015670-1761ebb156ba*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
#my_services h3 {
  opacity: 0; /* setting opacity initially to 0, will be faded in on scroll */
  text-align: center;
}
#icon_holder {
  opacity: 0; /* setting opacity initially to 0, will be faded in on scroll */
  text-align: center;
  padding-top: 35px;
}
#my_services {
  margin-bottom: 100px;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  background-color: white;
}
#my_services>div {
  flex: auto;
  width: 30%;
  margin: 0 3%;
  padding-bottom: 2vh;
}
#my_services div p {
  opacity: 0; /* setting opacity initially to 0, will be faded in on scroll */
  font-size: 1.1em;
}


/* ========== Footer and below footer ========== */
footer {
  height: 100px;
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
#left_foot {
  float: left;
  height: 100%;
  margin-left: 10vw;
  display: flex;
  align-items: center;
}
#right_foot {
  float: right;
  height: 100%;
  margin-right: 10vw;
  display: flex;
  align-items: center;
}
#right_foot div {
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  transition: color 200ms; /* the transition is applied to the color only, at a speed of 200ms */
}
#right_foot div:hover {
  color: orange;
}
#left_foot div {
  text-align: center;
  cursor: pointer;
  transition: color 200ms; /* the transition is applied to the color only, at a speed of 200ms */
}
#left_foot div:hover { 
  color: orange;
}
#sub_footer {
    background-color: blue;
    position: relative;
    bottom: 200px;
    opacity: 0;
    z-index: -2;
}

/* ========== E-mail pop-up form ========== */
/* outer portion of pop-up form (same styles for the project pop-up as well) */
#pop-up, #proj_pop-up {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.75); /* using RGBA color values to enable transparency */
  z-index: 2;
}
/* inner/ main part of the pop-up */
#popup-inner {
  max-width: 700px;
  width: 90%;
  padding: 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: #fff; /*white*/
  z-index: 3;
}
/* the close "x" button (same styles for the project pop-up as well) */
#popup-closeX, #proj_popup-closeX {
  width: 30px;
  height: 25.5px;
  padding-top: 4px;
  position: absolute;
  top: -15px;
  right: -15px;
  transition: ease 0.25s;
  border-radius: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 4;
} 
#popup-closeX:hover, #proj_popup-closeX:hover {
  transform: rotate(180deg);
  background: rgba(0,0,0,1);
}
#popup-closeC, #proj_popup-closeC {
  cursor: pointer;
  display: inline-block; /* inline-block elements are like inline elements but they can have a width and a height */
  border-bottom: 2px solid transparent;    
  width: 0px; 
  transition: ease 0.5s;
  margin-left: 12px;
}
#popup-closeC:hover, #proj_popup-closeC:hover {
  border-bottom: 2px solid black;
  width: 33px;
}
textarea {
  height: 200px;
  resize: vertical;
}
input[type="submit"] {
  margin-left: 0;
  background: none;
  width: 60px;
  transition: ease 0.5s;
  cursor: pointer;
}
input[type="submit"]:hover {
  border: 2px solid black;
  background: black;
  color: white;
}
input, textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 5px 0;
  border: 2px solid grey;
  padding: 10px;
  font-family: Abel;
  font-size: 18px;
  transition: ease 0.5s;
}
input:focus, textarea:focus { 
  outline: none;
  border: 2px solid black;
}
input#name {
  background-image: url("../img/message_icons/user.png");
  background-repeat: no-repeat;
  background-position: 5px 4px;
  padding-left: 50px;
}
input#email {
  background-image: url("../img/message_icons/envelope.png");
  background-repeat: no-repeat;
  background-position: 5px 4px;
  padding-left: 50px;
}
textarea#message {
  background-image: url("../img/message_icons/pencil.png");
  background-repeat: no-repeat;
  background-position: 5px 4px;
  padding-left: 50px;
}
#name_wrapper {
  float: left;
  width:49.5%;
}
#email_wrapper {
  float: right;
  width:49.5%;
}


/* ========== Project pop-up form ========== */
/* Note: the outer part of the pop-up is defined above in the E-mail styles, as well as the close buttons */
/* inner/ main part of the project pop-up */
#proj_popup-inner {
  max-width: 1100px;
  width: 90%;
  padding: 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: #fff; /*white*/
  z-index: 3;
}
#proj_wrapper {
  display: flex;
  flex-direction: column;
}
#proj_wrapper figure {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#proj_wrapper figure div {
  box-flex: 1;
  flex: 1 1 auto;
  padding: 1%;
  margin: 1%;
  text-align: center;
}
#proj_wrapper figure div img {
  max-width: 100%;
}
#proj_wrapper section {
  margin-left: 12px;
}
#proj_link {
  border: 2px solid grey;
  background: none;
  margin-right: 10px;
  line-height: 35px;
  padding: 5px 10px 5px 10px;
  transition: ease 0.5s;
  cursor: pointer;
}
#proj_link:hover {
  border: 2px solid black;
  background: black;
  color: white;
}

/* ========== Nav bar ========== */
nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background: linear-gradient(to bottom, #ededed, #f6f6f6);
  z-index: 1;
  /* will be faded in and animated down with js */
  opacity: 0;
  top: -80px;
}
#logo {
  float: left;
  padding-left: 8%;
  cursor: pointer;
}
#logo>img {
  padding-top: 2.3px;
}
nav>ul {
  list-style-type: none;
  float: right;
  margin: 0 8% 0 0;
  padding: 0;
}
nav>ul>li {
  display:inline;
  padding:0;
  margin:0;
  float: left;
  padding: 0 20px 0 20px;
  line-height: 80px;
  cursor: pointer;
  transition: color 200ms;
}
nav>ul>li:hover {
  color: orange;
}

/* ========== Preload ========== */
.pre-load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader.gif) center no-repeat #fff;
}
.pre-load>div {
  margin-top: 150px;
  color: #6666ff;
}

/* ========== Responsive styles ========== */
@media only screen and (max-width: 500px) {

    #home_text>div>h3 {
      font-size: 2em;
    }
    #home_text h4 {
      padding-bottom: 10px;
    }
    #home_text>div>h3 {
      padding-top: 5px;
    }
    #text_cont {
      padding: 0 4%;
    }
    nav>ul {
      margin: 0;
      font-size: 0.95em;
      width: 100%;
    }
    #my_services {
      display: block;
      margin-bottom: 200px;
    }
    #my_services div {
      width: auto;
    }
    footer {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    footer #left_foot {
      margin: 0 0 35px 0;
    }
    footer #left_foot, footer #right_foot{
      height: initial;
    }
    nav div#logo, #logo>img {
      width: 300px;
    }

}

@media only screen and (max-width: 819px) {
    
    nav>ul>li {
      display: inline-block;
      float: none;
    }
    nav>ul {
      width: 100%;
      text-align: center;
      float: none;
    }
    nav {
      height: 150px;
    }
    #logo {
      width: 350px;
      margin: 0 auto;
      padding-left: 0;
      float: none;
    }
}

/* copyright 2016 Attila Komaromi */